<section class="main-header">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p class="flash"><%= notice %><%= alert %></p> <!--ログイン時のフラッシュメッセージ定義-->
      <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <section class="about">
          <h1 class="title">自撮りの鬼へようこそ！</h1>
        </section>
</section>
