<section class="main-header">
  <div class="wrapper col-md-4 col-md-offset-4 col-sm-10">
    <p class="flash"><%= notice %><%= alert %></p> <!--ログイン時のフラッシュメッセージ定義-->
      <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <section class="about">
          <h1 class="title">自撮りの鬼へようこそ！</h1>
            <p class="main-text">
              アカウントを作成し鬼アイコンをクリックして写真を投稿してください♪
            </p>
        </section>
</section>
