<section class="main-header">
     <p class="flash"><%= notice %><%= alert %></p> <!--ログイン時のフラッシュメッセージ定義-->
  <section class="about">
         <h1>自撮りの鬼へようこそ！</h1>
         <p>
           アカウントを作成し鬼アイコンをクリックして写真を投稿してください♪
         </p>
       </section>
   </section>
